project:
  type: website
  output-dir: docs

website:
  title: "Comp_Bio_2026_Website_Test"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - href: Homework_links.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



